<!-- <ion-content overflow-scroll="true"> -->
<div class="container">
  <h1 class="h1">Bank Transfer</h1>
  
  <div class="ion-text-center">
    <ion-input placeholder="Enter the amount transferred" class="text"></ion-input>
  <!-- <img src="../../assets/attach.svg" class="attach"/>
  <input type="file" name="photo" /> -->
  <!-- <ion-item> -->
    <div>
      <div class="ion-text-center" (click)="inputFile.click()" class="attach-button">
        <img src="../../assets/attach.svg" class="attach"/>
  </div>
  <input #inputFile id="input-file"  style="opacity:0" type="file" (change)="uploadFiles($event)"
  multiple/>
<!-- </ion-item> -->
  <!-- </div> -->
<!-- </div> -->
<!-- <div class="ion-text-center"> -->
  <div class="flex-container">
 <button type="button" class="btn btn-primary btn-sm" id="language"(click)="presentModalUpdatePayment()">Update Payment</button>
 <div class="divider"></div>
<button type="button" class="btn btn-secondary btn-sm">Back</button>
</div>
<!-- </div> -->
    </div>
</div>
</div>
  <!-- </ion-content> -->
  