.container {
  margin-top: 2em;
}
.header {
  height: 60px;
  background-color: #194e78;
  position: initial;
}
.bell {
  position: absolute;
  top: 15px;
  left: 0.5em;
  width: 24px;
  height: 30px;
}
.logo {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 66pt;
  height: 86px;
  justify-content: center;
}
h1 {
  text-decoration: underline;
  color: #194e78;
  font-weight: bold;
  margin-top: 1.5em;
}
.client {
  font-size: 18px;
  font-family: "Roboto";
  color: #194e78;
  padding: 0.5em;
  //    padding-top: 2em;
  padding-bottom: 0em;
}
.hr {
  margin-top: 0em;
}
.details {
  margin-top: 0.5em;
}
.firstcol {
  float: left;
}
.secondcol {
  float: right;
}
.textleft {
  color: #6e6e6e;
  float: left;
  margin-left: 0.5em;
}
.textright {
  color: #6e6e6e;
  float: right;
  margin-right: 1em;
}
.newbutton {
  --background: #f5f5f5;
  //   position: fixed;
  //    bottom: 10%;
  width: 220px;
  height: 49px;
  margin-top: 1em;
  color: #194e78;
  font-weight: bold;
}
.btn-info {
  width: 6em;
  background-color: #6e6e6e;
  border: #6e6e6e;
  color: white;
}
::ng-deep .updateprice .modal-wrapper {
  height: 18em !important;
  --border-radius: 30px;
  margin: 1em;
  width: 20em;
}
@media only screen and (max-height: 670px) {
  .newbutton {
    --background: #f5f5f5;
    //   position: fixed;
    //  bottom: 10%;
    width: 220px;
    height: 49px;
    margin-top: 1em;
    color: #194e78;
    font-weight: bold;
  }
}
