<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">

    <h1 class="ion-text-center">Contract Details</h1>
    <div class="container">
      <div *ngFor="let result of previous_contract_data">
    <h6 class="client">{{result?.client_name}}</h6>
    <hr class="hr">
    <h6 class="client">Lift Number : {{result?.lift_number}}</h6>
    <hr class="hr">
    <h6 class="client">Previous Contract</h6>
    <div class="details">
      <div class="leftcol">
        <ion-text class="textleft">Start Date</ion-text>
      </div>
      <div class="rightcol">
        <ion-text class="textright">{{result?.start_date}}</ion-text>
      </div>
     </div>
    <br>
      <div class="details">
      <div class="leftcol">
        <ion-text class="textleft">End Date</ion-text>
      </div>
      <div class="rightcol">
        <ion-text class="textright">{{result?.end_date}}</ion-text>
      </div>
     </div>
     <br>
     <div class="details">
      <div class="leftcol">
        <ion-text class="textleft">Price</ion-text>
      </div>
      <div class="rightcol">
        <ion-text class="textright">{{result?.price}}</ion-text>
      </div>
     </div> 
     </div>
     <br>
     <hr class="hr">
     <h6 class="client">New Contract</h6>
     <div *ngFor="let result of new_contract_data">
     <div class="details">
       <div class="leftcol">
         <ion-text class="textleft">Start Date</ion-text>
       </div>
       <div class="rightcol">
         <ion-text class="textright">{{result?.end_date}}</ion-text>
       </div>
      </div>
     <br>
       <div class="details">
       <div class="leftcol">
         <ion-text class="textleft">End Date</ion-text>
       </div>
       <div class="rightcol">
         <ion-text class="textright">{{result?.start_date}}</ion-text>
       </div>
      </div>
      <br>
      <div class="details">
       <div class="leftcol">
         <ion-text class="textleft">Price</ion-text>
       </div>
       <div class="rightcol">
         <ion-text class="textright">{{result?.price}}</ion-text>
       </div>
      </div> 
      <br>
      </div>
     <div class="ion-text-center">
      <ion-button class="newbutton" (click)="updateprice()">Update Price</ion-button>
    </div>
    <br>
    <div class="ion-text-center">
      <button type="button" class="btn btn-info" (click)="back()">Back</button>
    </div>
    </div>
    </ion-content>