<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Visits</h1>
    <div class="tabs">
      <ion-tab-bar slot="top">
          <button type="button" class="btn btn-primary" (click)="today()" >Today</button>
      <div class="divider"></div>
          <button  tab="menu-tabs/tab1" type="button" class="btn btn-secondary" (click)="upcoming()">Upcoming</button>
          <div class="divider"></div>
          <button type="button" class="btn btn-secondary" (click)="previous()">Previous</button>
      </ion-tab-bar>
   </div>
   <ion-card class="card">
    <div class="square">
      <div>
        <div class="visits"><h3 class="h3">Visit # 01</h3></div>
        <br>
        <br>
    </div>
    <ion-text class="date">Client Name : Naeem Arshad<br></ion-text>
    <ion-text class="date">Location : Abu Dhabi<br></ion-text>
    <br>
</div>
<!-- </div> -->
</ion-card>
<ion-card class="card">
  <div class="square">
    <div>
      <div class="visits"><h3 class="h3">Visit # 01</h3></div>
      <br>
      <br>
  </div>
  <ion-text class="date">Client Name : Naeem Arshad<br></ion-text>
  <ion-text class="date">Location : Abu Dhabi<br></ion-text>
  <br>
</div>
<!-- </div> -->
</ion-card>
   </div>
   </ion-content>