<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
      <ion-icon src="../../assets/bell.svg" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<div class="white"></div>
<ion-content overflow-scroll="true">
<div class="container">
  <!-- <br> -->
  <!-- <div *ngFor="let result of maintenance_data let i=index"> -->
<div *ngIf="maintenance_data">
 <h1 class="ion-text-center">Visit#{{id}}</h1>
 <div>
  <ion-text class="date">Date:  {{maintenance_data[id]?.maintenance_date}}</ion-text>
</div>
  <ion-item>
    <ion-avatar slot="start">
      <img class="avatar" src="../../assets/avatar.svg">
    </ion-avatar>
    <ion-label>
      <div>
      <h2>Technician: {{maintenance_data[id]?.technician_assigned}}</h2>
    </div>
      <div class="title">
      <p>Maintenance Technician</p>
        </div>
        <div class="stars">
          <ionic5-star-rating #rating
          activeIcon = "star"
          defaultIcon = "ios-star-outline"
          activeColor = "#C99F66" 
          defaultColor = "#f4f4f4"
          readonly="false"
          rating="{{5}}"
          fontSize = "15px"
          (ratingChanged)="logRatingChange($event)"
           >
      </ionic5-star-rating>
      <!-- rating="{{technician_data.technician_rating}}" -->
        </div>
   </ion-label>
  </ion-item>   
  <br>
  <br>
  <h2 class="h2">Status</h2>
  <br>
 <div>
  <div>
    <div class="leftcol">
      <ion-text class="date">{{maintenance_data[id]?.maintenance_status}}</ion-text>
      </div>
    </div>
    <div [ngClass]='result?.maintenance_status == "Completed" ?"greendiv":"reddiv"'>
    </div>
  </div>
  <br>
  <hr class="hr">
  <h6 class="h2">Notes</h6>
  <br>
  <ion-card class="card-detailed">
    <!-- <ion-textarea placeholder="Please input detail!" class="textarea"></ion-textarea> -->
  <ion-text id="textarea" placeholder="Please enter notes" disabled="true">{{maintenance_data[id]?.report_notes}}</ion-text>
    <!-- <textarea class="native-textarea sc-ion-textarea-ios" id="textarea" placeholder="Please enter notes" disabled="true"></textarea> -->
</ion-card>
  <div class="ion-text-center">
    <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
  </div>
  </div>
</div>
</ion-content>
