.container{
    margin-top: 1px;
   }
   .header{
    height: 40px;
background-color: #194E78;
}
.bell{
margin-left: 0.5em;
position: absolute;
top: 5px;
left: 0.5em;
width: 24px;
height: 30px;
}
.logo{
    position: absolute ;
    top: -11px;
    right: 0px;
    width: 66px;
    height: 86px;
}
.firstcol{
float: left;
}
h1{
    text-decoration: underline;color:#194E78 ; font-weight: bold;
}
.leftcol{
    float: left;
    }
    .rightcol{
        float: right;
        margin-right: 1em;
        border-radius: 100px;
        height: 21px;
        width: 21px;
        background-color: #60D924;
    }
    .hr{
        margin-top: 0em;
    }
    .h2{
        margin-left: 0.7em;
        color:#194E78 ; font-weight: bold; float: left;
        margin-top: 0em;
        font-size: 18px;
        white-space: pre-line;
        margin-bottom: 0em;
    }
    .textright{
        color:#7A0001;
        float: right;
        margin-right: 1em;
        font-size: 18px;
    }
.date{
    font-size: 12px;
    color: #6E6E6E;
    margin-left: 1em;
}
.stars{
    margin-left: 10em;
}
.title{
    float: left;
}
.avatar{
    height: 46px;
    width: 46px;
}
.btn-secondary{
    width: 6em;
}