<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">

    <h1 class="ion-text-center">Client Detail</h1>
    <div class="container">
      <div *ngIf="clients">
    <h6 class="client">Client : {{clients[id]?.client_name}}</h6>
    <hr class="hr">
    <h6 class="client">Lift Number : {{clients[id]?.no_of_lifts}}</h6>
    <hr class="hr">
    <h6 class="client">Previous Contract</h6>
    <div class="details">
      <div class="leftcol">
        <ion-text class="textleft">Start Date</ion-text>
      </div>
      <div class="rightcol">
        <ion-text class="textright">{{clients[id]?.contract_start_date}}</ion-text>
      </div>
     </div>
    <br>
      <div class="details">
      <div class="leftcol">
        <ion-text class="textleft">End Date</ion-text>
      </div>
      <div class="rightcol">
        <ion-text class="textright">{{clients[id]?.contract_start_date}}</ion-text>
      </div>
     </div>
     <br>
     <div class="details">
      <div class="leftcol">
        <ion-text class="textleft">Price</ion-text>
      </div>
      <div class="rightcol">
        <ion-text class="textright">{{clients[id]?.contract_price}}</ion-text>
      </div>
     </div> 
     </div>
     <br>
     <hr class="hr">
      <br>
    <div class="ion-text-center">
      <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
      </div>
    </div>
    </ion-content>