<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Malfunctions List</h1>
    <div class="tabs">
      <ion-tab-bar slot="top">
          <button type="button" class="btn btn-primary" (click)="solved()" >Solved</button>
      <div class="divider"></div>
          <button type="button" class="btn btn-secondary" (click)="current()">Current</button>
      </ion-tab-bar>
    </div>
    <div class="flex-container">
    <!-- <div class="rectangle"> -->
      <ion-card class="card">
      <div class="square">
        <div>
          <div class="complain"><h3 class="h3">Client: Ahmad Gul</h3></div>
          <div class="buttondiv"><ion-button class="statusbutton1" shape="round">Danger</ion-button></div>
          <br>
          <br>
      </div>
      <ion-text class="date">Sunday, 23-03-2020<br></ion-text>
      <ion-text class="date">Status : New<br></ion-text>
      <ion-text class="date">Technician assigned : Technician Name<br></ion-text>
      <ion-text class="date">Type: Mechanical<br></ion-text>
  </div>
<!-- </div> -->
</ion-card>
<ion-card class="card">
  <div class="square">
    <div>
      <div class="complain"><h3 class="h3">Client : Nadeem Ali</h3></div>
      <div class="buttondiv"><ion-button class="statusbutton2" shape="round">Effective</ion-button></div>
      <br>
      <br>
  </div>
  <ion-text class="date">Sunday, 23-03-2020<br></ion-text>
  <ion-text class="date">Status : New<br></ion-text>
  <ion-text class="date">Technician assigned : Technician Name<br></ion-text>
  <ion-text class="date">Type: Mechanical<br></ion-text>
</div>
<!-- </div> -->
</ion-card>
 <ion-card class="card">
      <div class="square">
        <div>
          <div class="complain"><h3 class="h3">Client : Aatif Shahzad</h3></div>
          <div class="buttondiv"><ion-button class="statusbutton3" shape="round">Normal</ion-button></div>
          <br>
          <br>
      </div>
      <ion-text class="date">Sunday, 23-03-2020<br></ion-text>
      <ion-text class="date">Status : New<br></ion-text>
      <ion-text class="date">Technician assigned : Technician Name<br></ion-text>
      <ion-text class="date">Type: Mechanical<br></ion-text>
  </div>
<!-- </div> -->
</ion-card>
</div>

</div>
</ion-content>