<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <ion-title>
   <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
    </ion-icon>
    <div class="ion-text-right">
      <img src="../../assets/logo.svg" class="logo">
    </div>
  </ion-title>
</ion-header>
<div class="white"></div>
<ion-content overflow-scroll="true">
  <div class="container">
    <div *ngIf="malfunction_data">
    <h1 class="ion-text-center">Malfunction Report</h1>
    <div class="leftcol">
      <ion-text class="date">Date: {{malfunction_data[id]?.malfunction_date}}</ion-text>
    </div>
    <br>
 <ion-alert-controller></ion-alert-controller>
 <ion-item class="techniciandiv">
  <ion-avatar slot="start">
    <img class="avatar" src="../../assets/avatar.svg">
  </ion-avatar>
  <ion-label>
    <h2>Technician: {{malfunction_data[id]?.technician_assigned}}</h2>
    <div class="title">
    <p>Maintenance Technician</p>
      </div>
 </ion-label>
</ion-item>
<div>
  <br> 
  <h2 class="h2">Malfunctions</h2>
  <br>
  <br>
  <div *ngIf="malfunction_danger_level">
  <div *ngFor="let result of malfunction_danger_level; let i = index;">
    <div class="leftcol">
      <ion-text class="date">{{result?.level}}</ion-text>
    </div>
    <div [ngClass]='result?.danger == "red" ?"rightcolbrown":result?.danger == "orange"? "rightcolorange":"rightcolyellow"'>
    </div>
    <br>
    <hr class="hr">
  </div>
  </div>
  <br>
   </div>
   <h2 class="h2">Level of Danger</h2>
   <br>
   <br>
   <div *ngFor="let result of malfunction_danger_level; let i = index;">
    <div *ngIf='result?.danger=="red"'>
    <div class="leftcol">
        <ion-text class="date"> {{result?.level}}</ion-text>
      </div>
       <div class="rightcolbrown">
       </div>
       <br>
       <hr class="hr"/>
          <ion-text  class="ion-text-left" id="dangertext">
   * This malfunction is considered very serious
  </ion-text>
    </div>
    </div>
<br> 
   <h2 class="h2">Bill</h2>
   <br>
   <br>
   <div *ngIf="parts_data">
   <div *ngFor="let result of parts_data; let i = index;">
     <div class="leftcol">
       <ion-text class="date">{{result?.part_name}}</ion-text>
     </div>
     <div class="rightcol">
      {{result?.part_price}}
     </div>
     <hr class="hr"/>
   </div>
  </div>
  <div>
    <div class="leftcol">
      <ion-text class="datedanger">Total</ion-text>
    </div>
    <div class="datedanger">
     {{sum}}&nbsp;Riyals
    </div>
  </div>
  <br>     
  <br>
    <div class="ion-text-center">
      <button type="button" class="btn btn-primary disabled" id="solved-button" (click)="presentAlertParts()">I will Provide Parts</button>
      <div class="divider"></div>
          <button type="button" class="btn btn-secondary disabled" id="pending-button">Provided Parts</button>
  <!-- <ion-button class="lightbutton" (click)="presentAlertParts()">I Will Provide parts</ion-button> -->
</div>
<br>
<div>
  <!-- <div class="leftcol"> -->
    <ion-text class="h2">Payment Status</ion-text>
  <!-- </div> -->
  <div class="rightcol">
    {{malfunction_data[id]?.bill_payment_status}}
  </div>
</div><hr class="hr"/>
<h2 class="ion-text-left" id="payment">Payment Method</h2>
<br>
<br>
  <div class="ion-text-center">
<button class="btn btn-primary btn-lg btn-block disabled" (click)="presentModalPayment()">Pay Now</button>
</div>
<br>
<hr class="hr"/>
<!-- <div class="ion-text-center">
  <ion-button class="dangerbutton" (click)="presentModalRatings()">Provided</ion-button>
  </div> -->
<br>
<br>
</div>
</div>
</ion-content>
