
 .container{
    margin: 1em;
}
.h1{
    color: #194E78;
    text-align: center;
    font-size: 16pt;
    font-family:'Roboto', sans-serif;
    margin-top: 0em;
}
.send-button{
    --border-radius: 10px;
    margin-top: 1.2em;
    margin-left: 0.4em;
    width: 8em;
}
.text{
    color:#6E6E6E;
}
.thanksLine{
    color: #7A0001;
    text-align: center;
    font-size: 16pt;
    font-family:'Roboto', sans-serif;
}
.ratings{
    margin-left: 5em;
}
