<div class="nav-wrapper" style="background: white;height: 5em;"></div>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
  <ion-title>
   <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
    </ion-icon>
    <div class="ion-text-right">
      <img src="../../assets/logo.svg" class="logo">
    </div>
  </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<div class="white"></div>
<h1 class="ion-text-center">Installation</h1>
<ion-content overflow-scroll="true">
  <div class="container">
    <!-- <br> -->
    <div *ngFor="let result of installation_data">
    <div>
      <h2 class="h3">Number of Stops</h2>
      <!-- <ion-card class="card"> -->
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="stops" disabled>
       <option value='' class="options">{{result?.installation_stops}}</option>
       </select>
      <!-- </ion-card> -->
    </div>
    <div>
      <h2 class="h3">Door Type</h2>
      <!-- <ion-card class="card"> -->
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="doortype" disabled>
      <option value='' class="options">{{result?.installation_doortype}}</option>
    </select>
      <!-- </ion-card> -->
    </div>
    <div>
      <h2 class="h3">Machine Type</h2>
      <!-- <ion-card class="card"> -->
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="machinetype" disabled>
       <option value='' class="options">{{result?.installation_machinetype}}</option>
      </select>
      <!-- </ion-card> -->
    </div>
    <div>
      <h2 class="h3">The Speed</h2>
      <!-- <ion-card class="card"> -->
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="speed" disabled>
        <option value='' class="options">{{result?.installation_speed}}</option>
      </select>
      <!-- </ion-card> -->
    </div>
    <div>
      <h2 class="h3">Payloads</h2>
      <br>
      <br>
      <br>
      <!-- <ion-card class="cardinput"> -->
      <ion-textarea class="textarea" maxlength="4" [(ngModel)]="payloads" disabled readonly>{{result?.installation_payloads}}</ion-textarea>
      <!-- </ion-card> -->
    </div>
    <div>
      <h2 class="h3">Elevator Type</h2>
      <!-- <ion-card class="card"> -->
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="elevatortype" disabled >
        <option value='' class="options">{{result?.installation_elevatortype}}</option>
      </select>
      <!-- </ion-card> -->
    </div>
    <div>
      <h2 class="h3">Delivery and Installation Time</h2>
      <br>
      <br>
      <br>
      <!-- <ion-card class="cardinput"> -->
      <ion-textarea class="textarea" maxlength="2" [(ngModel)]="time" disabled readonly>{{result?.installation_time}}</ion-textarea>
      <!-- </ion-card> -->
    </div>
    <div>
      <h2 class="h3">Start Date</h2>
      <br>
      <br>
      <br> 
      <ion-textarea class="textarea" [(ngModel)]="time" disabled readonly>{{result?.installation_start_date}}</ion-textarea>
 
      <!-- <ion-card class="cardinput">
        <ion-datetime [pickerOptions]="customPickerOptions" placeholder="{{result?.installation_start_date}}" displayFormat="DD-MMM-YYYY"
          class="picker" [(ngModel)]="startdate" disabled >
        </ion-datetime>
      </ion-card> -->
    </div>
    <div>
      <h2 class="h3">End Date</h2>
      <br>
      <br>
      <br>
      <ion-textarea class="textarea" [(ngModel)]="time" disabled readonly>{{result?.installation_end_date}}</ion-textarea>
      <br>
      <!-- <ion-card class="cardinput">
  <section>
    <ion-datetime placeholder="Select a date" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime>
    <ion-icon name="calendar"></ion-icon>  
  </section>
  </ion-card> -->
      <!-- <ion-card class="cardinput">
      <ion-datetime [pickerOptions]="customPickerOptions" placeholder="{{result?.installation_end_date}}" displayFormat="DD-MMM-YYYY"
          class="picker" [(ngModel)]="enddate" disabled>
        </ion-datetime>
      </ion-card> -->
    </div>
    <div class="ion-text-center" id="buttonsdiv">
      <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
      <!-- <div class="divider"></div>
      <button type="button" class="btn btn-primary" (click)="addinstallation()">Send</button> -->
    </div>
  <!-- <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
  <input placeholder="Select date" type="text" id="example" class="form-control">
  <label for="example">Try me...</label>
  <i class="fas fa-calendar input-prefix"></i>
</div> -->
</div>
</div>
  <br>
  <br>
  <br>
</ion-content>