<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header style="
height: 40px;
background-color: #3c5469;">
  <ion-navbar class="navbar">
    <ion-title>
      <ion-icon name="notifications-outline" style="position: absolute;top: 2px;left: 5px;color: white;
height: 38px;width: 52px;">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" style="position: absolute;top: -16px;right: -5px;"></div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content overflow-scroll="true">
<div class="container">
  <h1 class="ion-text-center">Bill # TD24153</h1>
  <ion-text class="date">Sunday, 23-03-2020</ion-text>
  <br>
  <br>
    <h2 class="h2">Bill Details </h2>
    <br> 
    
<!-- </div> -->
 <ion-text class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum mi ipsum. Quisque eget mattis mauris. Donec in elit velit.</ion-text>
 <br> 
 <br> 
 <div>
    <div class="leftcol">
      <h2 class="h2">Amount </h2>
    </div>
    <div class="rightcol">
      <text class="textright1">350 Riyals</text>
    </div>
   </div>
   <hr class="hr">
  <div>
    <div class="leftcol">
      <h2 class="h2">Payment Status</h2>
    </div>
    <div class="rightcol">
      <text class="textright2">Unpaid</text>
    </div>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <h2 class="h2">Receipt Status</h2>
  </div>
  <div class="rightcol">
    <text class="textright3">Waiting</text>
  </div>
  <br>
  <br>
  <br>
  <div class="ion-text-center">
    <div class="flex-container">
   <button type="button" class="btn btn-primary btn-lg" id="language">Update Payment</button>
   <div class="divider"></div>
<button type="button" class="btn btn-secondary btn-lg">Back</button>
 </div>
</div>
</div>
</ion-content>