<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
      <ion-icon src="../../assets/bell.svg" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Emergency Complain</h1>
    <div class="tabs">
      <ion-tab-bar slot="top">
          <button type="button" class="btn btn-primary" (click)="solved()" >Solved</button>
      <div class="divider"></div>
          <button type="button" class="btn btn-secondary" (click)="pending()">Pending</button>
      </ion-tab-bar>
    </div>
    <div class="flex-container">
    <div class="rectangle">
      <div class="square">
      <h3 class="h3">Malfunction Type: Electrical</h3>
      <ion-text class="date">Sunday, 23-03-2020<br></ion-text>
      <h3 class="h3">Detail</h3>
      <ion-text class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum mi ipsum. Quisque eget mattis mauris. Donec in elit velit.
  </ion-text> 
  <div>
    <div class="complain"><h3 class="h3">Complain # : CN254145</h3></div>
    <div class="buttondiv"><ion-button class="statusbutton" shape="round">Solved</ion-button></div>
    <br>
    <br>
</div>
   <h3 class="status">Status: <h3 class="emergency">Emergency</h3></h3>
 </div>
</div>
</div>
<div class="ion-text-center" style="width: 0px auto;">
  <ion-button class="newbutton" shape="round"(click)="newcomplain()">New Complain</ion-button>
</div>
</div>
</ion-content>