<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
      <ion-icon src="../../assets/bell.svg" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Inquiries</h1>

    <div class="tabs">
      <ion-tab-bar slot="top">
          <button type="button" class="btn btn-primary" id="solved-button"  (click)="faqs()" >FAQ</button>
      <div class="divider"></div>
          <button type="button" class="btn btn-secondary" id="pending-button"(click)="inquiries()" >Inquiries</button>
      </ion-tab-bar>
    </div>
    <br>
    <br>
 <!-- <nz-collapse class="ant-collapse ant-collapse-icon-position-right"> -->
  <!-- <nz-collapse>
      <nz-collapse-panel
        *ngFor="let panel of panels"
        [nzHeader]="panel.name"
        [nzActive]="panel.active"
        [nzDisabled]="panel.disabled" >
        <p style="margin:0; color:blue">
          A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
          guest in many households across the world.
        </p>
      </nz-collapse-panel>
    </nz-collapse> -->
    <nz-collapse [nzBordered]="false" class="ant-collapse ant-collapse-icon-position-right ant-collapse-borderless">
      <nz-collapse-panel
        #p
        *ngFor="let panel of panels; let isFirst = first"
        [nzHeader]="panel.name"
        [nzActive]="panel.active"
        [ngStyle]="panel.customStyle"
        [nzExpandedIcon]="!isFirst ? panel.icon || expandedIcon : undefined"
      >
        <p class="description">{{ panel.description }} </p>
        <ng-template #expandedIcon let-active>
          {{ active }}
          <i nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></i>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
</div>
</ion-content>
