.container{
    margin-top: 1px;
   }
   h1{
    text-decoration: underline;color:#194E78 ; font-weight: bold;
}
.header{
  height: 40px;
background-color: #194E78;
}
.bell{
margin-left: 0.5em;
position: absolute;
top: 5px;
left: 0.5em;
width: 24px;
height: 30px;
}
.logo{
  position: absolute ;
  top: -11px;
  right: 0px;
  width: 66px;
  height: 86px;
}
.btn-primary{
  width: 8em;
  background-color: #194E78;
  border: #194E78;
}
.btn-secondary{
  width: 8em;
  background-color: #F5F5F5;
  color: #6E6E6E;
  border: #6E6E6E;
}
.divider{
  width:3em;
  height:auto;
  display:inline-block;
}
  .description{
    font-family: 'roboto';
    background-color:#F3F3F3;
    color: #6E6E6E;
    margin-left: -1em;
    margin-right: -1em;;
  }
 