<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Installation</h1>
    <br>
    <ion-text class="date">Sunday, 3/26/2021 13:00</ion-text>
    <h6 class="client">Client : Ahmad Gul</h6>
    <hr class="hr">
    <div class="background">
    <div class="ion-text-center">
      <ion-chip class="blockbutton" (click)="block()">
   <ion-label class="itemcenter">Third Stage - Engine</ion-label>
    </ion-chip>
    </div>
    <br>
    <h6 class="name">Engine Name</h6>
 <ion-card class="card-detailed">
     <textarea class="native-textarea sc-ion-textarea-ios" id="textarea" placeholder="Please Enter Engine Name "></textarea>
  </ion-card>
   <h6 class="name">Engine Type</h6>
  <ion-card class="card-detailed">
       <textarea class="native-textarea sc-ion-textarea-ios" id="textarea"  placeholder="Please Enter Engine Type"></textarea>
   </ion-card>
   <h6 class="name">Engine Weight Capacity</h6>
   <ion-card class="card-detailed">
        <textarea class="native-textarea sc-ion-textarea-ios" id="textarea" placeholder="Please Enter Engine Weight Capacity"></textarea>
    </ion-card>
    <h6 class="name">Engine Speed</h6>
    <ion-card class="card-detailed">
        <textarea class="native-textarea sc-ion-textarea-ios" id="textarea" placeholder="Please Enter  Engine Speed"></textarea>
     </ion-card>
     <h6 class="name">Engine Warranty</h6>
     <ion-card class="card-detailed">
          <textarea class="native-textarea sc-ion-textarea-ios" id="textarea"  placeholder="Please Enter Engine Warranty"></textarea>
      </ion-card>
       <h6 class="name">Engine Image</h6>
      <div class="ion-text-center">
      <ion-chip class="update" (click)="inputFile.click()">
        <ion-label class="itemleft">Upload Image</ion-label>
        <ion-icon src="../../assets/uploadimage.svg" class="itemright"></ion-icon>
           </ion-chip>
      <input #inputFile id="input-file"  style="opacity:0" type="file" (change)="uploadFiles($event)"
      multiple/>
      </div>
     <div class="flex-container">
      <div class="flex-container5">
      <div class="flex-container0">
      <h6 class="name"> Start Date</h6>
      <section class="section">
        <ion-datetime class="ion-datetime" placeholder="Select a date" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime>
        <ion-icon src="assets/calendar.svg"></ion-icon>  
      </section>
     </div>
     <div class="flex-container0">
      <h6 class="name"> End Date</h6>
      <section class="section">
        <ion-datetime class="ion-datetime" placeholder="Select a date" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime>
        <ion-icon src="assets/calendar.svg"></ion-icon>  
      </section>
      </div>
    </div>
    <br>
    
         <h6 class="name">More Information or Detail</h6>
      <ion-card class="card-detailed">
           <textarea class="native-textarea sc-ion-textarea-ios" id="textarea" placeholder="Please enter More Information or Detail"></textarea>
       </ion-card>
      <br>
      <br>
    </div>
    </div>
      <div class="ion-text-center">
        <ion-button class="newbutton" shape="round" (click)="next()">Send</ion-button>
      </div>
      <br>
      <div class="ion-text-center">
        <ion-button class="backbutton"(click)="back()">Back</ion-button>
      </div>
  </div> 
    </ion-content>