<div class="white"></div>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Contact Us</h1>
    <!-- <br> -->
    <h6 class="name">Client Name</h6>
 <ion-card class="card">
     <textarea class="native-textarea sc-ion-textarea-ios" id="textarea" placeholder="Please Enter Name"></textarea>
  </ion-card>
  <!-- <br> -->
    <h6 class="name">Client Email</h6>
 <ion-card class="card">
      <textarea class="native-textarea sc-ion-textarea-ios" id="textarea" placeholder="Please Enter Email"></textarea>
  </ion-card>
  <br>
    <h6 class="name">Client Contact Number</h6>
 <ion-card class="card">
      <textarea class="native-textarea sc-ion-textarea-ios" id="textarea" placeholder="Please Enter Contact Number"></textarea>
  </ion-card>
  <br>
    <h6 class="name">Message</h6>
 <ion-card class="card-detailed">
      <textarea class="native-textarea sc-ion-textarea-ios" id="textarea" placeholder="Please Enter Message"></textarea>
  </ion-card>
  <br>
  <h6 class="name">Office Phone Number:01231234567</h6>
  <h6 class="name">Office Email: info@liftcompany.com</h6>
  <br>
    </div>
    </ion-content>