<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
      <ion-icon src="../../assets/bell.svg" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Inquiries</h1>

    <div class="tabs">
      <ion-tab-bar slot="top">
        <button type="button" class="btn btn-primary" (click)="faqs()" >FAQ</button>
    <div class="divider"></div>
        <button type="button" class="btn btn-secondary" (click)="inquiries()" >Inquiries</button>
    </ion-tab-bar>
    </div>

    <ion-card class="card">
      <div class="flex-container">
        <div style="float: left;">
          <div class="colordiv1"></div>
        </div>
        <div class="flex-container2">
          <h6 class="visit">Inquiry Type A</h6>
          <div class="flex-container3">
            <div class="date">
              <text>Sunday 22-02-2020</text>
            </div>
            <div class="status">
              <text> Status : Done</text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="flex-container">
        <div style="float: left;">
          <div class="colordiv2"></div>
        </div>
        <div class="flex-container2">
          <h6 class="visit">Inquiry Type C</h6>
          <div class="flex-container3">
            <div class="date">
              <text>Sunday 22-02-2020</text>
            </div>
            <div class="status">
              <text> Status : Done</text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="flex-container">
        <div style="float: left;">
          <div class="colordiv3"></div>
        </div>
        <div class="flex-container2">
          <h6 class="visit">Inquiry Type C</h6>
          <div class="flex-container3">
            <div class="date">
              <text>Sunday 22-02-2020</text>
            </div>
            <div class="status">
              <text> Status : Waiting</text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <div class="ion-text-center">
      <ion-button class="newbutton" shape="round"(click)="newinquiry()">New Inquiry</ion-button>
    </div>
  </div>
</ion-content>