<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Malfunctions List</h1>
    <div class="tabs">
      <ion-tab-bar slot="top">
          <button type="button" class="btn btn-primary" (click)="solved()" >Solved</button>
      <div class="divider"></div>
          <button type="button" class="btn btn-secondary" (click)="current()">Current</button>
      </ion-tab-bar>
    </div>
    <div class="flex-container">
    <!-- <div class="rectangle"> -->
      <ion-card class="card" *ngFor="let result of malfunction_data" (click)="malfunction_details()">
      <div class="square">
        <div>
          <div class="complain"><h3 class="h3">Client: {{result?.client_name}}</h3></div>
          <div class="buttondiv"><ion-button [ngClass]='result?.malfunction_level == "Danger" ?"statusbutton1":result?.malfunction_level == "Effective"? "statusbutton2":"statusbutton3"' shape="round">{{result?.malfunction_level}}</ion-button></div>
          <br>
          <br>
      </div>
      <ion-text class="date">{{result?.malfunction_date}}<br></ion-text>
      <ion-text class="date">Status : {{result?.malfunction_status}}<br></ion-text>
      <ion-text class="date">Technician assigned : {{result?.technician_assigned}}<br></ion-text>
      <ion-text class="date">Type: {{result?.malfunction_type}}<br></ion-text>
  </div>
</ion-card>
</div>
</div>
</ion-content>