<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
      <ion-icon src="../../assets/bell.svg" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<div class="white"></div>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Installation</h1>
    <div>
      <h2 class="h3">Installation Stages</h2>
      <br>
      <br>
      <div *ngFor="let result of railanddoor_data" (click)="railanddoor()">
        <ion-card class="colorcard1" >
          <div class="flex-container">
            <div style="float: left;">
              <div class="colordiv1"></div>
            </div>
            <div class="flex-container2">
              <h6 class="stage">Rail and the Door</h6>
             <div class="flex-container3">
                <div class="date">
                  <ion-text>{{result?.railanddoor_date}}</ion-text>
                </div>
                <div class="status">
                  <ion-text> Status : {{result?.railanddoor_status}}</ion-text>
                </div>
              </div>
            </div>
          </div>
        </ion-card>
      </div>

      <div *ngFor="let result of cab_data" (click)="cabin()">
        <ion-card class="colorcard1" >
          <div class="flex-container">
            <div style="float: left;">
              <div class="colordiv1"></div>
            </div>
            <div class="flex-container2">
              <h6 class="stage">Cab Supply</h6>
              <!-- <h6 class="stage">{{i}}</h6> -->
              <div class="flex-container3">
                <div class="date">
                  <ion-text>{{result?.cabin_date}}</ion-text>
                </div>
                <div class="status">
                  <ion-text> Status : {{result?.cabin_status}}</ion-text>
                </div>
              </div>
            </div>
          </div>
        </ion-card>
      </div>
      <div *ngFor="let result of machine_data" (click)="machine()">
        <ion-card class="colorcard1" >
          <div class="flex-container">
            <div style="float: left;">
              <div class="colordiv1"></div>
            </div>
            <div class="flex-container2">
              <h6 class="stage">Machine Supply</h6>
              <!-- <h6 class="stage">{{i}}</h6> -->
              <div class="flex-container3">
                <div class="date">
                  <ion-text>{{result?.machine_date}}</ion-text>
                </div>
                <div class="status">
                  <ion-text> Status : {{result?.machine_status}}</ion-text>
                </div>
              </div>
            </div>
          </div>
        </ion-card>
      </div>
      <div *ngFor="let result of controldelivery_data" (click)="controldelivery()">
        <ion-card class="colorcard1" >
          <div class="flex-container">
            <div style="float: left;">
              <div class="colordiv1"></div>
            </div>
            <div class="flex-container2">
              <h6 class="stage">Control Delivery</h6>
              <!-- <h6 class="stage">{{i}}</h6> -->
              <div class="flex-container3">
                <div class="date">
                  <ion-text>{{result?.controldelivery_date}}</ion-text>
                </div>
                <div class="status">
                  <ion-text> Status : {{result?.controldelivery_status}}</ion-text>
                </div>
              </div>
            </div>
          </div>
        </ion-card>
      </div>
     
      <div class="ion-text-center">
        <button type="button" class="btn btn-primary" (click)="installation()">Lift Detail</button>
      </div>
    </div>
    </div>
    </ion-content>