<div class="white"></div>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Language Settings</h1>
    <br>
    <!-- <h6 class="name">Please Select App Language</h6>
    <ion-text class="language">English<br></ion-text>
    <ion-text class="language">Arabic<br></ion-text>
    <ion-text class="language">Urdu<br></ion-text> -->
    <div>
      <h2 class="h3">Please Select App Language</h2>
     <select class="form-select form-select-sm" aria-label=".form-select-sm example">
       <option value='English' class="options">English</option>
       <option value='Arabic' class="options">Arabic</option>
       <option value='Urdu' class="options">Urdu</option>
       </select>
     </div>
    </div>
    </ion-content>