<div class="container">
  <div class="flex-container">
  <h1 class="h1">Renewal Price</h1>
  <h6 class="h6">Cost</h6>
  <ion-card class="card">
   <ion-input placeholder="Input Cost" id="text" [(ngModel)]="cost"></ion-input>
  </ion-card>
  <h6 class="h6">Item Name</h6>
  <ion-card class="card">
   <ion-input placeholder="Input Item" id="text" [(ngModel)]="item"></ion-input>
  </ion-card>
  <div class="ion-text-center" id="buttonsdiv">
    <button type="button" class="btn btn-primary" (click)="update()">Update</button>
    <div class="divider"></div>
    <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
  </div>
</div>
</div>
  <ion-content>
  </ion-content>
  