<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon src="../../assets/profile.svg"></ion-icon>
</ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="../../assets/message.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="tab3">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-button">
      <ion-fab-button>
        <ion-icon src="../../assets/home.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-tab-button>

  <ion-tab-button tab="tab4">
    <ion-icon src="../../assets/settings.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon src="../../assets/questionmark.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<ion-fab vertical="bottom" horizontal="center" slot="fixed"  style="background-color: #194E78; margin-bottom: 7px; border-radius: 30px;"  (click)="home()">
  <ion-fab-button class="fab-button">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>
