ion-tab-bar, ion-tab-button{
    background-color: #0c1a37;
   }
   
   ion-icon{
     color: white;
     font-size: 30px; 
   }
  fab-button{
   background-color: #0c1a37; margin-bottom: 7px; border-radius: 30px;
  }