.header {
  height: 60px;
  background-color: #194e78;
  position: initial;
}
.bell {
  position: absolute;
  top: 15px;
  left: 0.5em;
  width: 24px;
  height: 30px;
}
.logo {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 66pt;
  height: 86px;
  justify-content: center;
}
ion-tab-bar, ion-tab-button{
    background-color: #194E78;
   }
   
   ion-icon{
     color: white;
     font-size: 30px; 
   }
  .fab-button{
    --background:#194E78;
    position: fixed;
  }