<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
  </head>
<ion-header style="
height: 40px;
background-color: #3c5469;
">
<ion-navbar class="navbar">
    <ion-title>
      <ion-icon name="notifications-outline" style="font-size: 30px;
    margin-top: 5px;
    color: white;
    ">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" style="height:69px;width:58px;margin-top: -38px;">
          </div>
    </ion-title>
  </ion-navbar> 
 </ion-header>
 <div class="container">
  <h1 class="ion-text-center" style="  text-decoration: underline;color:#3c5469 ; font-weight: bold;">Machine</h1>
  <div>
  <h2 class="h2" style="color:#3c5469 ; font-weight: bold; float: left;">Basic Info</h2>
  <br>
  <br>
  <br>
</div>
  <div>
  <div class="leftcol">
<text class="textleft">Machine Name</text>
    </div>
    <div class="rightcol">
      <text class="textright">Name</text>
          </div>
          <hr class="hr">
 </div>
 
 <div>
  <div class="leftcol">
<text class="textleft">Manufacturer</text>
    </div>
    <div class="rightcol">
      <text class="textright">Manufacturer Name</text>
          </div>
 </div>
 <hr>
</div>
