.firstcol{
float: left;
}
.h2{
    margin-left: 0.7em;
}
.secondcol{
   float: right; 
}
.textleft{
    color:#6E6E6E;
    float: left;
    margin-left: 1em;
}
.textright{
    color:#6E6E6E;
    float: right;
    margin-right: 1em;
}
.hr{
    color: #000;
}