<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header style="
height: 40px;
background-color: #3c5469;">
  <ion-navbar class="navbar">
    <ion-title>
      <ion-icon name="notifications-outline" style="position: absolute;top: 2px;left: 5px;color: white;
height: 38px;width: 52px;">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" style="position: absolute;top: -16px;right: -5px;"></div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content overflow-scroll="true">
<div class="container">
  <h1 class="ion-text-center">Machine</h1>
  <div>
    <h2 class="h2">Basic Info</h2>
    <br>
    <br>
 </div>
  <div>
    <div class="leftcol">
      <text class="textleft">Machine Name</text>
    </div>
    <div class="rightcol">
      <text class="textright">Name</text>
    </div>
   </div>
   <hr class="hr">
  <div>
    <div class="leftcol">
      <text class="textleft">Manufacturer</text>
    </div>
    <div class="rightcol">
      <text class="textright">Manufacturer Name</text>
    </div>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <text class="textleft">Payloads</text>
  </div>
  <div class="rightcol">
    <text class="textright">650</text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <text class="textleft">Speed</text>
  </div>
  <div class="rightcol">
    <text class="textright">03</text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <text class="textleft">Machine Type</text>
  </div>
  <div class="rightcol">
    <text class="textright">Type C</text>
  </div>
  <hr class="hr">
  <h2 class="h2">Photo</h2>
  <br>
  <br>
 <div class="flex-container" style="display: flex;
  justify-content: center;">
<img src="../../assets/machine.svg" class="machine">
  </div>
  <div class="flex-container" style="display: flex;
  justify-content: center;">
    <ion-back-button type="button" defaultHref="/tabs/tab1" icon="none" class="btn btn-secondary btn-lg">Back</ion-back-button>
    </div>
</div>
</ion-content>