<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
  </head>
<ion-navbar>
    <img src="../../assets/navbar-center.svg" >
  </ion-navbar>
<ion-content overflow-scroll="true">
<div class="ion-text-center">
  <img src="../../assets/cabin.svg" class="img" >
</div>
<div class="flex-container">
  <img src="../../assets/maintenance.svg"/>
  <img src="../../assets/malfunctions.svg"/>
 </div>
 <div class="flex-container">
 <img src="../../assets/bills.svg"/>
 <img src="../../assets/complain.svg"/>
 </div>
 <div class="flex-container">
 <img src="../../assets/emergencycomplain.svg"/>
</div>
</ion-content>