.header {
  height: 60px;
  background-color: #194e78;
  position: initial;
}
.bell {
  position: absolute;
  top: 15px;
  left: 0.5em;
  width: 24px;
  height: 30px;
}
.logo {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 66pt;
  height: 86px;
  justify-content: center;
}
.white {
  width: 100%;
  height: 2em;
}
h1 {
  text-decoration: underline;
  color: #194e78;
  font-weight: bold;
}
.techniciandiv {
  margin-left: -1em;
}
.parts-button {
  width: 200px;
}
.btn {
  box-shadow: none;
  outline: none;
}
.btn:active {
  box-shadow: none;
  outline: none;
}
.title {
  float: left;
}
.avatar {
  height: 46px;
  width: 46px;
}
.h2 {
  margin-left: 0.1em;
  color: #194e78;
  font-weight: bold;
  float: left;
  margin-top: 0em;
  font-size: 18px;
  white-space: pre-line;
  margin-bottom: 0em;
}
#payment {
  margin-left: 0.1em;
  color: #194e78;
  font-weight: bold;
  float: left;
  margin-top: 0em;
  font-size: 18px;
  // white-space: pre-line;
  margin-bottom: 0em;
}
.divider {
  width: 3em;
  height: auto;
  display: inline-block;
}
.leftcol {
  float: left;
  margin-left: -0.7em;
}
.rightcolbrown {
  float: right;
  margin-right: 0.6em;
  border-radius: 100px;
  height: 21px;
  width: 21px;
  background-color: #7a0001;
}
.rightcolorange {
  float: right;
  margin-right: 0.6em;
  border-radius: 100px;
  height: 21px;
  width: 21px;
  background-color: #ff6932;
}

.rightcolyellow {
  float: right;
  margin-right: 0.6em;
  border-radius: 100px;
  height: 21px;
  width: 21px;
  background-color: #fabe11;
}
.rightcol {
  float: right;
  margin-right: 0.6em;
  font-size: 16px;
  color: #6e6e6e;
}
#dangertext {
  margin-left: 0.3em;
  color: #7a0001;
}
.date {
  font-size: 16px;
  color: #6e6e6e;
  margin-left: 1em;
}
.datedanger {
  font-size: 16px;
  color: #7a0001;
  margin-left: 1em;
  float: right;
  margin-right: 0.6em;
}
.hr {
  margin-top: 0em;
  width: 99%;
}
.btn-primary {
  // width: 227px;
  color: #194e78;
  background-color: #f5f5f5;
  border: #f5f5f5;
  font-weight: bold;
}
.btn-secondary {
  background-color: #60d924;
  border: #60d924;
  font-weight: bold;
}
.btn-block {
  width: 8em;
}
.dangerbutton {
  width: 227px;
  color: white;
  --background: #7a0001;
  --background-activated: #7a0001;
}
@media only screen and (max-width: 321px) {
  .parts-button {
    width: 120px;
  }
  .btn-primary {
    // width: 227px;
    color: #194e78;
    background-color: #f5f5f5;
    border: #f5f5f5;
    font-weight: bold;
    width: 120px;
  }
  .btn-secondary {
    background-color: #60d924;
    border: #60d924;
    font-weight: bold;
    width: 120px;
  }
  .divider {
    width: 0.2em;
    height: auto;
    display: inline-block;
  }
}
::ng-deep .parts-class .modal-wrapper {
  height: 384px !important;
  width: 318px;
  --border-radius: 30px;
  margin: 1em;
}
::ng-deep .payment-class .modal-wrapper {
  height: 361px !important;
  width: 318px;
  margin: 1em;
  --border-radius: 30px;
}

::ng-deep .ratings-class .modal-wrapper {
  height: 384px !important;
  width: 318px;
  margin: 1em;
  --border-radius: 30px;
}
