<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
  </head>
<ion-navbar>
    <img src="../../assets/navbar-center.svg" >
  </ion-navbar>
<ion-content overflow-scroll="true">
<div class="ion-text-center">
  <img src="../../assets/cabin.svg" class="img" >
</div>
<div class="flex-container">
  <img src="../../assets/installation.svg"/>
 <img src="../../assets/maintenance.svg"/>
 </div>
 <div class="flex-container">
  <img src="../../assets/malfunctions.svg"/>
 <img src="../../assets/bills.svg"/>
 </div>
 <div class="flex-container">
  <img src="../../assets/complain.svg"/>
 <img src="../../assets/emergencycomplain.svg"/>
</div>
</ion-content>
<!-- swiper.component.html -->

<!-- <swiper>
  <swiper-slide>Slide 1</swiper-slide>
  <swiper-slide>Slide 3</swiper-slide>
  <swiper-slide>Slide 3</swiper-slide>
</swiper> -->
<!-- <ion-content [scrollY]="false">
  <swiper [config]="swiperConfig">
    <ng-template swiperSlide>
      <div class="slide-container">
<img src="../../assets/pexels-photo-69432.jpeg" />
 </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-container">
<img src="../../assets/pexels-photo-69432.jpeg" />
 </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-container">
<img src="../../assets/pexels-photo-69432.jpeg" />
 </div>
    </ng-template>
    <ng-template swiperSlide *ngFor="let slide of slides">
      <div>Slide</div>
    </ng-template>
  </swiper>
</ion-content> -->