<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
      <ion-icon src="../../assets/bell.svg" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
 <h1 class="ion-text-center" style="  text-decoration: underline;color:#194E78 ; font-weight: bold;">Malfunction Report</h1>
 <Text  class="ion-text-left" style="margin-left:1em;">
   Sunday Date. 26/3/2019
 </Text>
 <ion-alert-controller></ion-alert-controller>
 <ion-item>
  <ion-avatar slot="start">
    <img class="avatar" src="../../assets/avatar.svg">
  </ion-avatar>
  <ion-label>
    <h2>Technician: Imran Barnawi</h2>
    <div class="title">
    <p>Maintenance Technician</p>
      </div>
      <div class="stars">
        <ionic5-star-rating #rating
        activeIcon = "star"
        defaultIcon = "ios-star-outline"
        activeColor = "#C99F66" 
        defaultColor = "#f4f4f4"
        readonly="false"
        rating="5"
        fontSize = "15px"
        (ratingChanged)="logRatingChange($event)"
         >
    </ionic5-star-rating>
      </div>
 </ion-label>
</ion-item>
<div>
  <br> 
  <h2 class="h2">Malfunctions</h2>
  <br>
  <br>
  <div>
    <div class="leftcol">
      <ion-text class="date">The door does not Close</ion-text>
    </div>
    <div class="rightcolbrown">
    </div>
  </div>
  <br>
  <hr class="hr">
  <div>
    <div class="leftcol">
      <ion-text class="date">Too Loud in the Elevator</ion-text>
    </div>
    <div class="rightcolorange">
    </div>
  </div>
  <br>
  <hr class="hr">
  <div>
    <div class="leftcol">
      <ion-text class="date">The Lights are not Working</ion-text>
    </div>
    <div class="rightcolyellow">
    </div>
  </div>
  <br>
   </div>
   <br> 
   <h2 class="h2">Malfunctions</h2>
   <br>
   <br>
   <div>
     <div class="leftcol">
       <ion-text class="date">The door does not Close</ion-text>
     </div>
     <div class="rightcolbrown">
     </div>
   </div>
   <br>
<Text  class="ion-text-left" id="dangertext">
 * This malfunction is considered very serious and
</Text>
<hr class="hr"/>
<!-- <br> -->
<br> 
   <h2 class="h2">Bill</h2>
   <br>
   <br>
   <div>
     <div class="leftcol">
       <ion-text class="date">Door Card</ion-text>
     </div>
     <div class="rightcol">
       1200 riyals
     </div>
   </div>
   <hr class="hr"/>
   <!-- <div> -->
  <div>
    <div class="leftcol">
      <ion-text class="date">Gallon</ion-text>
    </div>
    <div class="rightcol">
      300 riyals
    </div>
  </div>
  <hr class="hr"/>
  <div>
    <div class="leftcol">
      <ion-text class="date">Door Fork</ion-text>
    </div>
    <div class="rightcol">
      50 riyals
    </div>
  </div>
  <hr class="hr"/>
  <div>
    <div class="leftcol">
      <ion-text class="date">Lights</ion-text>
    </div>
    <div class="rightcol">
     Complimentry
    </div>
  </div>
  <hr class="hr"/>
  <div>
    <div class="leftcol">
      <ion-text class="datedanger">Total</ion-text>
    </div>
    <div class="datedanger">
      1550 including TA
    </div>
  </div>
  <br>     
  <br>
    <div class="ion-text-center">
  <ion-button class="lightbutton" (click)="presentAlertParts()">I Will Provide parts</ion-button>
</div>
<br>
<div>
  <div class="leftcol">
    <ion-text class="h2">Payment Status</ion-text>
  </div>
  <div class="rightcol">
    Not Paid
  </div>
</div><hr class="hr"/>
<h2 class="ion-text-left" id="payment">Payment Method</h2>
<br>
<br>
  <div class="ion-text-center">
<ion-button class="lightbutton" (click)="presentModalPayment()">Credit Card</ion-button>
</div>
<br>
<hr class="hr"/>
<br>
  <div class="ion-text-center">
<ion-button class="dangerbutton" (click)="presentModalRatings()">Provided</ion-button>
</div>
<br>
<br>
<br>
</div>
</ion-content>




