<!-- "node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css",
"node_modules/ng-zorro-antd/resizable/style/index.min.css" -->
<div class="container">
  <h1 class="h1">Malfunction Type</h1>
  <ion-list>
    <ion-radio-group allow-empty-selection = "false" value="radio" (ionChange)="radioGroupChange($event)"
    >
    <ion-item>
        <ion-label>Mechanical</ion-label>
        <ion-radio slot="start" value="creditcard" class="radio" #mechanical></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Electrical</ion-label>
        <ion-radio slot="start" value="banktransfer" class="radio" #electrical></ion-radio>
      </ion-item>
  
    </ion-radio-group>
  </ion-list>
  <div class="ion-text-center">
  <button type="button" class="btn btn-primary" (click)="update()">Update</button>
  <div class="divider"></div>
  <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
</div>
    </div>
  <ion-content>
  </ion-content>