<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">

    <h1 class="ion-text-center">Contract Details</h1>
    <div class="container">
    <h6 class="client">Client : Ahmad Gul</h6>
    <hr class="hr">
    <h6 class="client">Lift Number : 6</h6>
    <hr class="hr">
    <h6 class="client">Previous Contract</h6>
    <div class="details">
      <div class="leftcol">
        <ion-text class="textleft">Start Date</ion-text>
      </div>
      <div class="rightcol">
        <ion-text class="textright">10-10-2020</ion-text>
      </div>
     </div>
    <br>
      <div class="details">
      <div class="leftcol">
        <ion-text class="textleft">End Date</ion-text>
      </div>
      <div class="rightcol">
        <ion-text class="textright">10-10-2022</ion-text>
      </div>
     </div>
     <br>
     <div class="details">
      <div class="leftcol">
        <ion-text class="textleft">Price</ion-text>
      </div>
      <div class="rightcol">
        <ion-text class="textright">2400 Riyals</ion-text>
      </div>
     </div> 
     <br>
     <div class="ion-text-center">
      <ion-button class="newbutton" shape="round" (click)="newcomplain()">Send Reminder</ion-button>
    </div>
    </div>
    </ion-content>