<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Lift Detail</h1>
    <div>
      <h2 class="h3">Number of Stops</h2>
      <br>
      <br>
      <br>
      <ion-card class="card">
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option disabled selected hidden style="color: rgb(87, 87, 90);">06</option>
        <option value="electrical" class="options">Electrical</option>
        <option value="mechanical" class="options">Mechanical</option>
        <option value="other" class="options">Other Type</option>
        <option value="someother" class="options">Some Other Type</option>
      </select>
     </ion-card>
     </div>
     <div>
      <h2 class="h3">Door Type</h2>
      <br>
      <br>
      <br>
      <ion-card class="card">
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option disabled selected hidden style="color: rgb(87, 87, 90);">Auto</option>
        <option value="electrical" class="options">Electrical</option>
        <option value="mechanical" class="options">Mechanical</option>
        <option value="other" class="options">Other Type</option>
        <option value="someother" class="options">Some Other Type</option>
      </select>
     </ion-card>
     </div>
     <div>
      <h2 class="h3">Machine Type</h2>
      <br>
      <br>
      <br>
      <ion-card class="card">
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option disabled selected hidden style="color: rgb(87, 87, 90);">Italian</option>
        <option value="electrical" class="options">Electrical</option>
        <option value="mechanical" class="options">Mechanical</option>
        <option value="other" class="options">Other Type</option>
        <option value="someother" class="options">Some Other Type</option>
      </select>
     </ion-card>
     </div>
     <div>
      <h2 class="h3">The Speed</h2>
      <br>
      <br>
      <br>
      <ion-card class="card">
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option disabled selected hidden style="color: rgb(87, 87, 90);">02</option>
        <option value="electrical" class="options">Electrical</option>
        <option value="mechanical" class="options">Mechanical</option>
        <option value="other" class="options">Other Type</option>
        <option value="someother" class="options">Some Other Type</option>
      </select>
     </ion-card>
     </div>
     <div>
      <h2 class="h3">Payloads</h2>
      <br>
      <br>
      <br>
     <ion-card class="cardinput">
      <ion-textarea placeholder="630" class="textarea" maxlength="4"></ion-textarea>
      </ion-card>
 </div>
 <div>
  <h2 class="h3">Elevator Type</h2>
  <br>
  <br>
  <br>
  <ion-card class="card">
  <select class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option disabled selected hidden style="color: rgb(87, 87, 90);">Passengers</option>
    <option value="electrical" class="options">Electrical</option>
    <option value="mechanical" class="options">Mechanical</option>
    <option value="other" class="options">Other Type</option>
    <option value="someother" class="options">Some Other Type</option>
  </select>
 </ion-card>
 </div>
 <div>
  <h2 class="h3">Delivery and Installation Time</h2>
  <br>
  <br>
  <br>
 <ion-card class="cardinput">
  <ion-textarea placeholder="60" class="textarea" maxlength="2"></ion-textarea>
  </ion-card>
</div>
<div class="ion-text-center">
  <button type="button" class="btn btn-secondary">Back</button>
  </div>
</div>
    <br>
     <br>
     <br>
    </ion-content>