<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">My Team</h1>
    <div class="tabs">
      <ion-tab-bar slot="top">
          <button type="button" class="btn btn-primary" (click)="maintenancetechnician()" >Maintenance Technicians</button>
      <div class="divider"></div>
          <button type="button" class="btn btn-secondary" (click)="repairtechnician()">Repair Technician</button>
      </ion-tab-bar>
      <ion-card *ngFor="let result of maintenance_technicians">
        <ion-item>
          <ion-avatar slot="start">
            <img class="avatar" src="{{result?.technician_avatar}}">
          </ion-avatar>
          <ion-label>
            <h2 class="name">Technician: {{result?.technician_name}}</h2>
           </ion-label>
        </ion-item> 
      </ion-card> 
    </div>
    </div></ion-content>