.header{
    height: 40px;
  background-color: #194E78;
  }
  .bell{
  margin-left: 0.5em;
  position: absolute;
  top: 5px;
  left: 0.5em;
  width: 24px;
  height: 30px;
  }
  .logo{
    position: absolute ;
    top: -4px;
    right: 0px;
    width: 66px;
    height: 86px;
  }
  h1{
      text-decoration: underline;color:#194E78 ; font-weight: bold;margin-top: 1em;
  }
  .tabs{
margin-top: 1em;
  }
  .btn-primary{
   font-size:  12px;
    background-color: #194E78;
    border: #194E78;
  }
  .btn-secondary{
    font-size:  12px;
    background-color: #F5F5F5;
    color: #6E6E6E;
    border: #6E6E6E;
  }
  .divider{
    width:1em;
    height:auto;
    display:inline-block;
  }
  .stars{
    margin-left: 0em;
}
.avatar{
    height: 46px;
    width: 46px;
}
.name{
    color: #194E78;
    font-size: 20px;
    font-weight: bold;
}