<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
      <ion-icon src="../../assets/bell.svg" class="bell">
      </ion-icon>
      <div class="ion-text-center">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="ion-text-center">
   <img src="../../assets/cabin.svg" class="img" >
</div>
<div class="flex-container">
<img src="../../assets/totalvisits.svg" (click)="totalvisits()"/>
<img src="../../assets/totalassignedvisits.svg" (click)="totalassignedvisits()"/>
 </div>
 <div class="flex-container">
  <img src="../../assets/upcomingvisits.svg" (click)="upcomingvisits()"/>
 <img src="../../assets/previousvisits.svg" (click)="previousvisits()"/>

 </div>
 <div class="flex-container">
  <img src="../../assets/visitreport.svg" (click)="visitreport()"/>
  <img src="../../assets/previousvisitsreport.svg" (click)="previousvisitreport()"/>
  </div>
</ion-content>