<div class="nav-wrapper" style="background: white;height: 2.6em;"></div>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <ion-title>
   <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
    </ion-icon>
    <div class="ion-text-right">
      <img src="../../assets/logo.svg" class="logo">
    </div>
  </ion-title>
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">New Inquiry</h1>
    <div>
      <h2 class="h3">Inquiry Type</h2>
      <br>
      <br>
      <br>
      <br>
      <ion-card class="card">
        <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="inquiry_type">
          <option disabled selected hidden style="color: rgb(87, 87, 90);" value="">Please Select Type</option>
          <option value="electrical" class="options">Electrical</option>
          <option value="mechanical" class="options">Mechanical</option>
          <option value="other" class="options">Other Type</option>
          <option value="someother" class="options">Some Other Type</option>
        </select> -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button (click)="collapsetrue()" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <div *ngIf="inquiry_type==''"><ion-text color="secondary">Please Select Inquiry Type</ion-text></div> 
         <div *ngIf="inquiry_type!==''"><ion-text color="secondary">{{inquiry_type}}</ion-text></div>
            </button>
          </h2>
          <div *ngIf="collapse==false">
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ion-list>
                <ion-item>
                  <ion-label class="selection" (click)="passvalue('Electrical')">Electrical</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="selection" (click)="passvalue('Mechanical')">Mechanical</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="selection" (click)="passvalue('Other')">Other Type</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="selection" (click)="passvalue('Someother')">Some Other Type</ion-label>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </div>
        </div>
     </ion-card>
     <h2 class="h3">Details</h2>
     <br>
     <br>
     <ion-card class="cardinput">
        <!-- <ion-textarea placeholder="Please input detail!" class="textarea"></ion-textarea> -->
        <textarea class="native-textarea sc-ion-textarea-ios" autocapitalize="none" name="ion-textarea-0" placeholder="Please Input Detail!" spellcheck="false" [(ngModel)]="inquiry_detail"></textarea>
   </ion-card>
 </div>
<div class="ion-text-center">
  <div class="flex-container">
 <button type="button" class="btn btn-primary" id="language" (click)="sendinquiry($event)">Send Inquiry</button>
 <div class="divider"></div>
<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
</div>
</div>
</div>
  </ion-content>  
 