<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<div class="white"></div>
<ion-content overflow-scroll="true">
<div class="container">
  <!-- <br> -->
  <h1 class="ion-text-center">Rail and the Door</h1>
  <div>
    <h4 class="h4">The following has been installed</h4>
    <br>
    <br>
 </div>
  <!-- <div>
    <ion-checkbox class="checkbox" disabled="true"></ion-checkbox>
    <ion-label class="label">10 Meter long rail</ion-label>
</div>
   <hr class="hr">
   <div>
    <ion-checkbox class="checkbox" disabled="true"></ion-checkbox>
    <ion-label class="label">Door Type Auto</ion-label>
</div>
  <hr class="hr">
  <div>
    <ion-checkbox class="checkbox" disabled="true"></ion-checkbox>
    <ion-label class="label">Rail thickness 9ml</ion-label>
</div>
  <hr class="hr">
  <div>
    <ion-checkbox class="checkbox" disabled="true"></ion-checkbox>
    <ion-label class="label">Machine Name</ion-label>
</div>
  <hr class="hr">
  <div>
    <ion-checkbox class="checkbox" disabled="true"></ion-checkbox>
    <ion-label class="label">Cables</ion-label>
</div>
 <hr class="hr">
 <div>
  <ion-checkbox class="checkbox" disabled="true"></ion-checkbox>
  <ion-label class="label">Hilti</ion-label>
</div>
<hr class="hr">
<div>
  <ion-checkbox class="checkbox" disabled="true"></ion-checkbox>
  <ion-label class="label">Sportina</ion-label>
</div>
<hr class="hr">
<div>
  <ion-checkbox class="checkbox" disabled="true"></ion-checkbox>
  <ion-label class="label">Angles</ion-label>
</div>
<hr class="hr">
<div>
  <ion-checkbox class="checkbox" disabled="true"></ion-checkbox>
  <ion-label class="label">Doors all round</ion-label>
</div>
<hr class="hr">
<div>
  <ion-checkbox class="checkbox" disabled="true"></ion-checkbox>
  <ion-label class="label">Doors Dressing</ion-label>
</div> -->
<ion-list>
  <div *ngFor="let entry of form" class="outerdiv">
    <ion-checkbox slot="start" class="checkbox" disabled="true" [(ngModel)]="entry.isChecked"></ion-checkbox>
    <ion-label class="label">{{entry.val}}</ion-label>
    <hr class="hr">
  </div>
</ion-list>
  <div class="ion-text-center">
     <button type="button" class="btn btn-secondary" (click)="back()">Back</button>  </div>
</div>
</ion-content>