.container{
    margin: 1px;
   }
.h4{
    margin-left: 0.7em;
    color:#3c5469 ; font-weight: bold; float: left;
    margin-top: 0em;
}
h1{
    text-decoration: underline;color:#3c5469 ; font-weight: bold;
}
.bell{
    margin-left: 1em;
    float: left;
}
hr {
    // border: 2px solid red !important;
    height: 1px !important;
    width: 94% !important;
    background: #6E6E6E !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin-top: 0.1em;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.label{
    margin-left: 1em;
    color: #6E6E6E !important;
    
}
.checkbox{
    margin-left: 1em;
    --background-checked:#60D924;
    --border-radius: 0px;
    --size: 1em;
    --checkmark-width:5px	
}
  .back-button{
    --background:#6E6E6E;
    --border-radius: 7px;
     width: 10em;
 }