h1{
    text-decoration: underline;
    color:#3c5469 ; 
    font-weight: bold;
}
.flex-container{
    justify-content: center;
}
.h3{
    margin-left: 0.7em;
    color:#3c5469 ;
    // font-weight: bold; 
    float: left;
    margin-top: 1em;
    font-size: 18px;
}
.card{
    height: 1px;
}
.form-select-sm{
    color: blue;
overflow: hidden;
}