<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
  <ion-title>
    <ion-icon src="../../assets/bell.svg" class="bell">
    </ion-icon>
    <div class="ion-text-right">
      <img src="../../assets/logo.svg" class="logo">
    </div>
  </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<div class="white"></div>
<ion-content overflow-scroll="true">
  <div class="container">
    <!-- <br> -->
    <h1 class="ion-text-center">Maintenance List</h1>
<br>
    <ion-card class="card" *ngFor="let result of maintenance_data let i=index" (click)="visitdetails(i)">
      <div class="flex-container">
        <div style="float: left;">
          <div [ngClass]='result?.maintenance_status == "completed" ?"greendiv":result?.maintenance_status == "this month"? "graydiv":"yellowdiv"'></div>
        </div>
        <div class="flex-container2">
          <h6 class="visit">Visit #{{i}}</h6>
          <div class="flex-container3">
            <div class="date">
              <ion-text>Date:{{result?.maintenance_date}}</ion-text>
            </div>
            <div class="status">
              <ion-text> Status : {{result?.maintenance_status}}</ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <!-- <ion-card class="card">
      <div class="flex-container">
        <div style="float: left;">
          <div class="colordiv2"></div>
        </div>
        <div class="flex-container2">
          <h6 class="visit">Visit #02</h6>
          <div class="flex-container3">
            <div class="date">
              <ion-text>Sunday 22-02-2020</ion-text>
            </div>
            <div class="status">
              <ion-text> Status : This Month</ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="flex-container">
        <div style="float: left;">
          <div class="colordiv3"></div>
        </div>
        <div class="flex-container2">
          <h6 class="visit">Visit #03</h6>
          <div class="flex-container3">
            <div class="date">
              <ion-text>Sunday 22-02-2020</ion-text>
            </div>
            <div class="status">
              <ion-text> Status : This Month</ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="flex-container">
        <div style="float: left;">
          <div class="colordiv4"></div>
        </div>
        <div class="flex-container2">
          <h6 class="visit">Visit #04</h6>
          <div class="flex-container3">
            <div class="date">
              <ion-text class="textleft">Sunday 22-02-2020</ion-text>
            </div>
            <div class="status">
              <ion-text class="textright"> Status : Coming</ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card> -->
    <div class="ion-text-center">
      <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
    </div>
  </div>
</ion-content>