<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header style="
height: 40px;
background-color: #3c5469;
">
  <ion-navbar class="navbar">
    <ion-title>
      <ion-icon name="notifications-outline" style="position: absolute;top: 2px;left: 5px;color: white;
height: 38px;width: 52px;">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" style="position: absolute;top: -16px;right: -5px;">
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Maintenance List</h1>
    
 <ion-card class="card">
  <div class="flex-container">
    <div style="float: left;">
    <div style="background-color: aqua; width: 35px;height: 56px;"></div>
  </div>
  <div class="flex-container2">
  <h6 class="visit">Visit #01</h6>
  <div class="flex-container3">
  <text class="date">Sunday 22-02-2020</text>
 <text class="status"> Status : Completed</text>
</div>
</div>
  </div>
    </ion-card>
  </div>
</ion-content>