<!-- <ion-content overflow-scroll="true"> -->
  <div class="container">
    <h1 class="h1">Inquiry Sent Successfully</h1>
    
    <div class="ion-text-center">
      <ion-text class="text">Your new Inquiry request has 
        been sent successfully.</ion-text>
   <div>
        <div class="ion-text-center" (click)="inputFile.click()" class="attach-button">
          <img src="../../assets/tick.svg" class="tick"/>
    </div>
    <!-- <input #inputFile id="input-file"  style="opacity:0" type="file" (change)="uploadFiles($event)"
    multiple/> -->
    <div class="ion-text-center" id="buttonsdiv">
      <button type="button" class="btn btn-primary" (click)="buttonClick()">Update</button>
      <div class="divider"></div>
      <button type="button" class="btn btn-secondary" (click)="dismiss()">Back</button>
     </div>
      </div>
  </div>
  </div>   