<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    
    <h1 class="ion-text-center">My Client</h1>
    <div class="flex-container">
      <div class="cards">
      <div class="ion-text-center">
      <img src="assets/clientlisting.svg"(click)="clientlisting()">
    </div>
    <div class="ion-text-center">
      <img src="assets/contracts.svg" (click)="contracts()">
    </div>
  </div>
  </div>
    </div>
    </ion-content>