
.header{
    height: 40px;
background-color: #194E78;
position: initial;
}
.bell{
margin-left: 0.5em;
position: absolute;
top: 5px;
left: 0.5em;
width: 24px;
height: 30px;
}
.logo{
    position: relative ;
    top: -4px;
    right: 0px;
    width: 66pt;
    height: 86px;
    justify-content: center;
}
.white{
    width: 100%;
    height: 2em;
}