.container{
    margin-top: 1px;
   }
.flex-container0{
justify-content: space-around;
flex-direction: row;
}
.flex-container{
    display: flex;
    }
.flex-container2{
 width: 100%;
 }
    .flex-container3{
        display: flex;
     justify-content: space-between;
     width: 100%;
       }
     h1{
    text-decoration: underline;color:#3c5469 ; font-weight: bold;
}
.colordiv1{
    background-color: #7A0001; width: 35px;height: 56px;
}
.colordiv2{
    background-color: #FABE11; width: 35px;height: 56px;
}
.colordiv3{
    background-color: #FABE11; width: 35px;height: 56px;
}
.colordiv4{
    background-color: #FF6932; width: 35px;height: 56px;
}
.type{
    font-size: 18pt;
    font-family:'Roboto', sans-serif;
    color: #194E78;
    margin-top: 0px;
    margin-left: 0.2em;
 }
.date{
    font-size: 10pt;
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    color: #6E6E6E;
    margin-left: 0.7em;
}
.status{
margin-right: 0.7em;
}
.textright{
    float: right;
}
.textleft{
    float: left;
}
.tabs{
    width: 100%;
}
::ng-deep .solved-button{
    width: 10em;
    --background:#F5F5F5;
    color: #6E6E6E;
    margin-right: -3em;
    }
   ::ng-deep .current-button{
    //  margin-left: 0em;
    --background:#194E78;
      color: #FFFFFF;
      font-size: 15px;
      text-align: center;
      border-radius: 0px;
      margin-left: -3em;
   }