<ion-content overflow-scroll="true">
  <div class="container">
    <!-- <br> -->
    <h1 class="ion-text-center">Malfunctions List</h1>
    <div class="tabs">
      <ion-tab-bar slot="top">
          <button type="button" class="btn btn-primary" id="solved-button"  (click)="malfunctions()" >Solved</button>
      <div class="divider"></div>
          <button type="button" class="btn btn-secondary" id="pending-button"(click)="currentmalfunctions()" >Current Malfunctions</button>
      </ion-tab-bar>
    </div>
    <br>
    <ion-card class="card" *ngFor="let result of malfunction_data let i=index" (click)="currentmalfunction_details(i)">
      <div class="flex-container">
        <div style="float: left;">
          <div class="colordiv1"></div>
        </div>
        <div class="flex-container2">
          <h6 class="type">Type: {{result?.malfunction_type}}</h6>
          <div class="flex-container3">
            <div class="date">
              <ion-text> Date:{{result?.malfunction_date}}</ion-text>
            </div>
            <div class="status">
              <ion-text> Status : {{result?.malfunction_status}}</ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <!-- <ion-card class="card">
      <div class="flex-container">
        <div style="float: left;">
          <div class="colordiv2"></div>
        </div>
        <div class="flex-container2">
          <h6 class="type">Type: Mechanical</h6>
          <div class="flex-container3">
            <div class="date">
              <ion-text>Sunday 22-02-2020</ion-text>
            </div>
            <div class="status">
              <ion-text> Status : Solved</ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="flex-container">
        <div style="float: left;">
          <div class="colordiv3"></div>
        </div>
        <div class="flex-container2">
          <h6 class="type">Type: Mechanical</h6>
          <div class="flex-container3">
            <div class="date">
              <ion-text class="textleft">Sunday 22-02-2020</ion-text>
            </div>
            <div class="status">
              <ion-text class="textright"> Status : Solved</ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="flex-container">
        <div style="float: left;">
          <div class="colordiv4"></div>
        </div>
        <div class="flex-container2">
          <h6 class="type">Type: Electrical</h6>
          <div class="flex-container3">
            <div class="date">
              <ion-text class="textleft">Sunday 22-02-2020</ion-text>
            </div>
            <div class="status">
              <ion-text class="textright"> Status : Solved</ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card> -->
  </div>
</ion-content>