<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header style="
height: 40px;
background-color: #3c5469;
">
  <ion-navbar class="navbar">
    <ion-title>
      <ion-icon name="notifications-outline" style="position: absolute;top: 2px;left: 5px;color: white;
height: 38px;width: 52px;">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" style="position: absolute;top: -16px;right: -5px;">
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">New Complain</h1>
    <div>
      <h2 class="h3">Malfunction Type</h2>
      <br>
      <br>
      <br>
      <ion-card class="card">
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option disabled selected hidden style="color: rgb(87, 87, 90);">Please Select Type</option>
        <option value="electrical" style="color: #3c5469 ;font-size: 18px;font-weight:bold">Electrical</option>
        <option value="mechanical"style="color: #3c5469 ;font-size: 18px;font-weight:bold">Mechanical</option>
        <option value="other"style="color: #3c5469 ;font-size: 18px;font-weight:bold">Other Type</option>
        <option value="someother"style="color: #3c5469 ;font-size: 18px;font-weight:bold">Some Other Type</option>
      </select>
     </ion-card>
     <h2 class="h3">Details</h2>
     <br>
     <ion-card class="cardinput">
        <!-- <ion-textarea placeholder="Please input detail!" class="textarea"></ion-textarea> -->
        <textarea class="native-textarea sc-ion-textarea-ios" autocapitalize="none" name="ion-textarea-0" placeholder="Please input detail!" spellcheck="false"></textarea>
   </ion-card>
 </div>
 <div class="ion-text-center">
    <div class="flex-container">
   <button type="button" class="btn btn-primary btn-lg" id="language">Send Complain</button>
   <div class="divider"></div>
<button type="button" class="btn btn-secondary btn-lg">Cancel</button>
 </div>
</div>
</div>
  </ion-content>  
 