<!-- <div class="container">
  <h1 class="h1">Online Payment</h1>
  <h1 class="thanksLine">* After Paying the technician</h1>
    <ion-text class="text">
      <h6>Please Enter the online payment confirmation code sent to your phone number</h6>
    </ion-text>
    <div class="flex-container" style="display: flex;
    justify-content: center;">
    <code-input class="codeinput"
   #codeinput [isCodeHidden]="true"
              [codeLength]="3"
              (codeChanged)="onCodeChanged($event)"
              (codeCompleted)="onCodeCompleted($event)">
  </code-input>
</div>
<div class="ion-text-center" id="buttonsdiv">
  <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
  <div class="divider"></div>
  <button type="button" class="btn btn-primary" (click)="buttonClick()">Provided</button>
</div>
      </div>
    </div>
  <ion-content>
  </ion-content>
   -->
   
<div class="container">
  <h1 class="h1">POS Payment</h1>
  <br>
  <br>
  <h6 class="ion-text-center">Kindly Ask The Technician To Pay and Upload Receipt</h6>
  <div class="ion-text-center" id="buttonsdiv">
    <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
 </div>
  </div>
  