
 .container{
    margin-top: 1em;
}
.h1{
    color: #194E78;
    text-align: center;
    font-size: 16pt;
    font-family:'Roboto';
}
.ion-text-center{
    color: #194E78;
}   
.image{
    align-items: center;
    margin-top: 3em;
    height: 7em;
    width: 15em;
}
.btn-secondary{
    width: 8em;
    background-color:#6E6E6E;
    color: white;
    border: #6E6E6E;
 }
  .btn-primary{
    width: 8em;
    background-color: #194E78;
    border: #194E78;
  }
  #buttonsdiv{
      margin-top: 4em;
  }