h1{
    text-decoration: underline;color:#3c5469 ; font-weight: bold;
}
::ng-deep .solved-button{
    width: 10em;
    color: #FFFF;
    --background:#194E78;
    margin-right: -3em;
    }
   ::ng-deep .pending-button{
    //  margin-left: 0em;
       --background:#F5F5F5;
    color: #6E6E6E;
      font-size: 15px;
      text-align: center;
      border-radius: 0px;
      margin-left: -3em;
   }