h1{
    text-decoration: underline;color:#3c5469 ; font-weight: bold;
}
.flex-container{
    justify-content: center;
}
.solved-button{
    width: 10em;
    --background:#194E78;
    color: #FFFFFF;
    margin-right: -3em;
    font-size: 12px;
    --background-activated:#194E78;
    --color-activated:#F5F5F5;
    display: inline-block;
    }
.pending-button{
    //  margin-left: 0em;
    --background:#F5F5F5;
    color: #6E6E6E;
    --background-activated:#194E78;
    --color-activated:#F5F5F5;
      font-size: 12px;
      text-align: center;
      border-radius: 0px;
      margin-left: -3em;
      display: inline-block;
   }
   .rectangle {
    margin:5%;
    border-style: solid;
    border-width: 1px;
    border-color:#4F8B31;
    // text-align: center;
    margin-top: 5%;
    overflow: hidden;
  }
  .square{
      margin-left: 1em;
      margin-right: 1em;
  }
  .h3{
    font-family:'Roboto';
    font-size: 20px;
    margin-top: 0.5em;
    margin-left: 0em;
    margin-bottom: 0em;
    color: #194E78;
    text-align: left;
  }
  .date{
      color: #6E6E6E;
      font-family:'Roboto';
      font-size: 12px;
      margin-top: 0em;
      margin-left: 0em;
      text-align: left;
  }
  .details{
    color: #6E6E6E;
    font-family:'Roboto';
    font-size: 12px;
    margin-top: 0em;
    margin-left: 0em;
  }
  .complain{
      float: left;
  }
  .buttondiv{
    float: right;
  }
  .statusbutton{
    width: 91px;
      height: 37px;
         --background:#4F8B31;
  }
  .newbutton{
      --background:#FF6932;
    //   position: fixed;
         bottom: 10%;
       width: 220px;
      height: 49px;
      margin-top:12em
      }
      @media only screen and (max-height: 670px) {
        .newbutton{
            --background:#FF6932;
          //   position: fixed;
               bottom: 10%;
             width: 220px;
            height: 49px;
            margin-top:1em
            }
      }
      @media only screen and (min-height: 1000px) {
        .details{
            color: #6E6E6E;
            font-family:'Roboto';
            font-size: 25px;
            margin-top: 0em;
            margin-left: 0em;
          }
          .date{
            color: #6E6E6E;
            font-family:'Roboto';
            font-size: 25px;
            margin-top: 0em;
            margin-left: 0em;
            text-align: left;
        }
        .h3{
            font-family:'Roboto';
            font-size: 30px;
            margin-top: 0.5em;
            margin-left: 0em;
            margin-bottom: 0em;
            color: #194E78;
            text-align: left;
          }
      }
