<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header style="
height: 40px;
background-color: #3c5469;
">
  <ion-navbar class="navbar">
    <ion-title>
      <ion-icon name="notifications-outline" style="position: absolute;top: 2px;left: 5px;color: white;
height: 38px;width: 52px;">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" style="position: absolute;top: -16px;right: -5px;">
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Complain</h1>
   <ion-tab-bar slot="top">
     <ion-tab-button>
          <ion-button class="solved-button">Solved</ion-button>
           </ion-tab-button>
           <ion-tab-button tab="complain/pendingcomplain">
            <ion-button class="pending-button">Pending</ion-button>
             </ion-tab-button>
    </ion-tab-bar>
