<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header style="
height: 40px;
background-color: #3c5469;">
  <ion-navbar class="navbar">
    <ion-title>
      <ion-icon name="notifications-outline" style="position: absolute;top: 2px;left: 5px;color: white;
height: 38px;width: 52px;">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" style="position: absolute;top: -16px;right: -5px;"></div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content overflow-scroll="true">
<div class="container">
  <h1 class="ion-text-center">Control Delivery</h1>
  <div>
    <h2 class="h2">Basic Info</h2>
    <br>
    <br>
 </div>
  <div>
    <div class="leftcol">
      <text class="textleft">Control Type</text>
    </div>
    <div class="rightcol">
      <text class="textright">Type B</text>
    </div>
   </div>
   <hr class="hr">
  <div>
    <div class="leftcol">
      <text class="textleft">Control Speed</text>
    </div>
    <div class="rightcol">
      <text class="textright">5</text>
    </div>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <text class="textleft">Features</text>
  </div>
  <div class="rightcol">
    <text class="textright">Lorem Ipsum</text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <text class="textleft">Emergency Battery</text>
  </div>
  <div class="rightcol">
    <text class="textright">Yes</text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <text class="textleft">Italian vvvf speed smoothing</text>
  </div>
  <div class="rightcol">
    <text class="textright">Type C</text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <text class="textleft">Device</text>
  </div>
  <div class="rightcol">
    <text class="textright">Device Name</text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <text class="textleft">Lightning Arrester</text>
  </div>
  <div class="rightcol">
    <text class="textright">Lightning</text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <text class="textleft">Manufacture</text>
  </div>
  <div class="rightcol">
    <text class="textright">Manufacture Name</text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <text class="textleft">Payload</text>
  </div>
  <div class="rightcol">
    <text class="textright">750</text>
  </div>
  <hr class="hr">
  <h2 class="h2">Photo</h2>
  <br>
  <br>
 <div class="flex-container" style="display: flex;
  justify-content: center;">
<img src="../../assets/controldelivery.svg" class="machine">
  </div>
  <div class="flex-container" style="display: flex;
  justify-content: center;">
    <ion-button class="back-button" (click)="dismiss()">Back</ion-button>
    </div>
</div>
</ion-content>