<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
     <ion-icon src="../../assets/bell.svg" (click)="notifications()" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<div class="white"></div>
<ion-content overflow-scroll="true">
<div class="container">
  <h1 class="ion-text-center">Control Delivery</h1>
  <div>
    <h2 class="h2">Basic Info</h2>
    <br>
    <br>
 </div>
 <div *ngFor="let result of data">
  <div>
    <div class="leftcol">
      <ion-text class="textleft">Control Type</ion-text>
    </div>
    <!-- <div class="rightcol"> -->
      <ion-text class="textright">{{result.controldelivery_type}}</ion-text>
    <!-- </div> -->
   </div>
   <hr class="hr">
  <div>
    <div class="leftcol">
      <ion-text class="textleft">Control Speed</ion-text>
    </div>
    <!-- <div class="rightcol"> -->
      <ion-text class="textright">{{result.controldelivery_speed}}</ion-text>
    <!-- </div> -->
  </div>
  <hr class="hr">
  <div class="leftcol">
    <ion-text class="textleft">Features</ion-text>
  </div>
  <!-- <div class="rightcol"> -->
    <ion-text class="textright">{{result.controldelivery_features}}</ion-text>
  <!-- </div> -->
  <hr class="hr">
  <div class="leftcol">
    <ion-text class="textleft">Emergency Battery</ion-text>
  </div>
  <div class="rightcol">
    <ion-text class="textright">{{result.controldelivery_emergency_battery}}</ion-text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <ion-text class="textleft">Italian vvvf speed smoothing</ion-text>
  </div>
  <div class="rightcol">
    <ion-text class="textright">{{result.controldelivery_vvvf_speed_smoothing}}</ion-text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <ion-text class="textleft">Device</ion-text>
  </div>
  <div class="rightcol">
    <ion-text class="textright">{{result.controldelivery_device}}</ion-text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <ion-text class="textleft">Lightning Arrester</ion-text>
  </div>
  <div class="rightcol">
    <ion-text class="textright">{{result.controldelivery_lightning_arrester}}</ion-text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <ion-text class="textleft">Manufacture</ion-text>
  </div>
  <div class="rightcol">
    <ion-text class="textright">{{result.controldelivery_manufacture}}</ion-text>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <ion-text class="textleft">Payload</ion-text>
  </div>
  <div class="rightcol">
    <ion-text class="textright">{{result.controldelivery_payloads}}</ion-text>
  </div>
  <hr class="hr">
  <h2 class="h2">Photo</h2>
  <br>
  <br>
 <div class="flex-container" style="display: flex;
  justify-content: center;">
<img src="../../assets/controldelivery.svg" class="machine">
  </div>
</div>
<div class="ion-text-center">
  <button type="button" class="btn btn-secondary" (click)="back()">Back</button>  </div>
</div>
<br>
</ion-content>