<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
    <ion-title>
      <ion-icon src="../../assets/bell.svg" class="bell">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/logo.svg" class="logo">
      </div>
    </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
<div class="container">
  <br>
  <h1 class="ion-text-center">Cabin</h1>
  <div>
    <h2 class="h2">Basic Info</h2>
    <br>
    <br>
 </div>
 <div *ngFor="let result of data">
  <div>
    <div class="leftcol">
      <ion-text class="textleft">Cabin Dimensions</ion-text>
    </div>
    <div class="rightcol">
      <ion-text class="textright">{{result?.cabin_dimensions}}</ion-text>
    </div>
   </div>
   <hr class="hr">
  <div>
    <div class="leftcol">
      <ion-text class="textleft">Cabin Shape</ion-text>
    </div>
    <div class="rightcol">
      <ion-text class="textright">{{result?.cabin_shape}}</ion-text>
    </div>
  </div>
  <hr class="hr">
  <div class="leftcol">
    <ion-text class="textleft">Cabin Roof</ion-text>
  </div>
  <div class="rightcol">
    <ion-text class="textright">{{result?.cabin_roof}}</ion-text>
  </div>
  <hr class="hr">
  <h2 class="h2">Photo</h2>
  <br>
  <br>
 <div class="flex-container" style="display: flex;
  justify-content: center;">
<img src="../../assets/cabin.svg" class="machine">
  </div>
</div>
  <br>
  <div class="ion-text-center">
    <button type="button" class="btn btn-secondary" (click)="back()">Back</button>  </div>
</div>
</ion-content>