.container{
    margin-top: 1px;
   }
   .header{
    height: 40px;
background-color: #194E78;
}
.bell{
margin-left: 0.5em;
position: absolute;
top: 5px;
left: 0.5em;
width: 24px;
height: 30px;
}
.logo{
    position: absolute ;
    top: -11px;
    right: 0px;
    width: 66px;
    height: 86px;
}
.firstcol{
float: left;
}
.h2{
    margin-left: 0.7em;
    color:#194E78 ; font-weight: bold; float: left;
    margin-top: 0em;
}
h1{
    text-decoration: underline;color:#194E78 ; font-weight: bold;
}
.secondcol{
   float: right; 
  }
.textleft{
    color:#6E6E6E;
    float: left;
    margin-left: 1em;
}
.textright{
    color:#6E6E6E;
    float: right;
    margin-right: 1em;
}
hr {
    // border: 2px solid red !important;
    height: 1px !important;
    width: 94% !important;
    background: #6E6E6E !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .machine{
      width: 354px;
      height: 164px;
  }
  .btn-secondary{
width: 4em;
  }