<br>
<h1 class="ion-text-center">Settings</h1>
<ion-content overflow-scroll="true">
  <div class="container">
<div class="white"></div>
<div class="flex-container0">
  <h6 class="client" (click)="notifications()">Notification</h6>
  <!-- <ion-icon src="assets/eye.svg" class="icon"  (click)="notifications()"></ion-icon> -->
</div>
  <hr class="hr">
  <div class="flex-container0">
  <h6 class="client" (click)="contract_details()">View Contract File</h6>
  <!-- <ion-icon src="assets/eye.svg" class="icon"></ion-icon> -->
</div>
  <hr class="hr">
  <div class="flex-container0">
  <h6 class="client" (click)="contact_us()">Contact Us</h6>
  <!-- <ion-icon src="assets/eye.svg" class="icon"></ion-icon> -->
</div>
<hr class="hr">
</div>
</ion-content>